body {
  @include md {
    background: url("../assets/images/wave.svg"),
      url("../assets/images/wave-red.svg");
    background-size: 70% auto, 100% auto;
    background-repeat: no-repeat;
    background-position-x: -50px, center;
    background-position-y: -40px, -40px;
  }
}
