.header {
  height: 60px;
  width: 100%;

  @include md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .logo {
    display: block;
    float: left;
    width: auto;
    padding: 1rem;
    text-decoration: none;

    .logo-image {
      max-width: 200px;
      height: 55px;

      @include sm {
        max-width: 225px;
      }

      @include md {
        max-width: 250px;
      }
    }
  }

  .header-menu-btn {
    display: none;
  }

  .header-menu-icon {
    cursor: pointer;
    float: right;
    padding: 3.8rem 2rem;

    position: relative;
    z-index: 3;
    user-select: none;

    @include md {
      display: none;
    }
  }

  .header-menu-list-item .header-menu-list-item-item:hover,
  .header-menu-btn:hover {
    background-color: $bg-primary;
  }

  .header-menu-icon .nav-icon {
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;
    width: 22px;
    background: $bg-third;
  }

  .header-menu-icon {
    .nav-icon:before,
    .nav-icon:after {
      content: "";
      background: $bg-third;
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }

    .nav-icon:before {
      top: 0.75em;
    }

    .nav-icon:after {
      top: -0.75em;
    }
  }

  .header-menu-btn:checked ~ .header-menu-list {
    width: 100vw;
  }

  .header-menu-btn:checked ~ .header-menu-icon .nav-icon {
    background: transparent;
  }

  .header-menu-btn:checked ~ .header-menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .header-menu-btn:checked ~ .header-menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  .header-menu-list {
    clear: both;
    width: 0;
    transition: width 0.2s ease-out;
    margin: 0;
    height: 100%;
    padding-top: 2rem;
    position: absolute;
    right: 0;
    padding-top: 4.5em;
    overflow: hidden;
    @include shadow(rgba(229, 57, 69, 0.7));
    background: change-color($color: $bg-secondary, $alpha: 1);
    z-index: 2;

    @include md {
      width: 280px;
      position: static;
      max-width: none;
      height: auto;
      padding-top: 0;

      box-shadow: none;

      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
    }

    .header-menu-list-item {
      text-align: center;
      text-transform: uppercase;
      padding: 1rem;

      .header-menu-list-item-link {
        display: block;
        padding: 2rem;

        text-decoration: none;
        font-size: 22px;
        transition: all 0.2s linear;
        color: $text-primary;

        &:hover,
        &:focus {
          background: darken($bg-secondary, 20%);
          transform: scale(1.05);
        }

        @include md {
          font-size: 1.4rem;
          background: none;
          padding: 0;
          letter-spacing: 1px;
          font-weight: 300;

          &:hover,
          &focus {
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
