.header {
  height: 60px;
  width: 100%;
  // background-color: #005fff;

  .logo {
    display: block;
    float: left;
    width: 70%;
    padding: 10px 20px;
    text-decoration: none;

    img {
      max-width: 150px;
      height: 55px;
    }
  }

  #menu-btn {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 38px 20px;

    position: relative;
    z-index: 3;
    user-select: none;
  }

  .menu {
    clear: both;
    width: 0;
    transition: width 0.2s ease-out;
    margin: 0;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    right: 0;
    list-style: none;
    padding-top: 4.5em;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(229, 57, 69, 0.7);
    background: change-color($color: $bg-secondary, $alpha: 1);
    z-index: 2;
  }

  .menu-list {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;

    a {
      display: block;
      padding: 20px 20px;

      text-decoration: none;
      font-size: 22px;
      transition: all 0.2s linear;
      color: #fff;

      &:hover,
      &focus {
        background: darken($bg-secondary, 20%);
        transform: scale(1.05);
      }
    }
  }

  .menu-list .menu-list-item:hover,
  .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .menu-icon .nav-icon {
    display: block;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;
    width: 22px;
    background: $bg-third;
    // background: #444fff;
  }

  .menu-icon {
    .nav-icon:before,
    .nav-icon:after {
      content: "";
      background: $bg-third;
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }

    .nav-icon:before {
      top: 0.75em;
    }

    .nav-icon:after {
      top: -0.75em;
    }
  }

  .menu-btn {
    display: block;
  }
}

.header .menu-btn:checked ~ .menu {
  width: 100vw;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header {
    background-color: #444fff;
  }

  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-width: none;
  }

  .header .menu-icon {
    display: none;
  }
}
