.services {
  padding: 10px 20px;
  margin-top: 160px;

  @include md {
    margin-top: 160px;
  }

  & > .our-services {
    @include header__two;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    @include md {
      color: $text-primary;
    }
  }

  .service {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 20px 0px;
    padding: 10px;
    position: relative;

    @include md {
      background-color: $text-primary;
      padding: 0;
      height: 261px;
      position: initial;
      width: 90%;

      margin: 20px auto;
    }

    .service-wrapper-float {
      @include md {
        width: 60%;
        float: right;
        padding: 30px 70px;
      }
    }

    &:nth-child(odd) .service-wrapper-float {
      @include md {
        float: left;
      }
    }

    .service-title {
      @include header__three;
      text-transform: uppercase;
      margin-bottom: 10px;

      @include md {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }

    & .service-description {
      @include text;
      margin-bottom: 20px;
      font-weight: 300;
      text-align: justify;

      @include md {
        height: 40%;
        font-size: 12px;
        margin-bottom: 35px;
      }
    }

    & .service-image {
      margin-bottom: 75px;
      width: 100%;

      @include md {
        width: 40%;
        margin: 0;
        height: 100%;
      }
    }

    .wrapper-positioned-button {
      width: 100%;
      left: 0;
      padding: 10px;
      position: absolute;
      bottom: 0;
      @include md {
        position: initial;
        padding: 0px;
      }
    }

    & .button-find-more {
      display: block;
      padding: 20px;
      width: 100%;
      text-align: center;
      border-radius: 2px;
      font-size: 16px;
      background-color: $bg-secondary;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.025);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
      }

      @include md {
        width: 40%;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        position: initial;
        transform: translateX(0);
      }
    }
  }
}
