.services {
  padding: 1rem 2rem;
  margin-top: 16rem;

  @include md {
    margin-top: 25%;
  }

  @include lg {
    margin-top: 20%;
  }

  @media (min-width: 1570px) {
    margin-top: 15%;
  }

  .services-our-services {
    @include header__two;
    text-align: center;
    width: 50%;
    margin: 0 auto;

    @include md {
      color: $text-primary;
    }
  }

  .services-service {
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
    padding: 1rem;
    position: relative;

    @include md {
      background-color: $text-primary;
      padding: 0;
      height: 260px;
      position: initial;
      width: 90%;
      margin: 2rem auto;
    }

    .service-info-wrapper-float {
      @include md {
        width: 60%;
        float: right;
        padding: 3rem;
      }
    }

    &:nth-child(odd) .service-info-wrapper-float {
      @include md {
        float: left;
      }
    }

    .service-title {
      @include header__three;
      text-transform: uppercase;
      margin-bottom: 1rem;

      @include md {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }
    }

    .service-description {
      @include text;

      margin-bottom: 2rem;
      font-weight: 300;

      text-align: justify;

      @include md {
        height: 40%;
        font-size: 1.2rem;
        margin-bottom: 3.5rem;
      }
    }

    & .service-image {
      margin-bottom: 7.5rem;
      width: 100%;

      @include md {
        width: 40%;
        margin: 0;
        height: 100%;
      }
    }

    .service-btn-wrapper-positioned {
      width: 100%;
      left: 0;
      padding: 1rem;
      position: absolute;
      bottom: 0;

      @include md {
        position: initial;
        padding: 0;
      }
    }

    .button-find-more {
      display: block;
      padding: 2rem;
      width: 100%;
      text-align: center;
      font-size: 16px;
      background-color: $bg-secondary;
      color: $text-primary;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      font-weight: 400;

      &:hover {
        transform: scale(1.025);
        @include shadow;
      }

      @include md {
        width: 40%;
        padding: 0.5rem 1rem;
        font-size: 14px;
        letter-spacing: 1px;
        position: initial;
        transform: translateX(0);
      }
    }
  }
}
