.contact {
  background-color: $bg-secondary;
  padding: 2rem;
  width: 100%;

  & * {
    margin-bottom: 1.5rem;
  }

  .contact-title {
    @include header__two;
    color: #fff;
    text-align: center;

    @include md {
      margin-bottom: 4rem;
    }
  }

  .contact-content {
    @include lg {
      display: flex;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .contact__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include lg {
      width: 100%;
      padding: 0 5rem;
      padding-left: 0;
    }

    & input {
      width: 100%;
      background-repeat: no-repeat;
      background-position: left 15px center;
      border: none;
      padding-left: 4.5rem;
      height: 50px;
      display: inline-block;
      font-family: "Poppins", sans-serif;

      @include md {
        width: 48%;
      }

      @include lg {
        height: 40px;
      }
    }

    .input-name {
      background-image: url("../assets/images/person.svg");
    }

    .input-email {
      background-image: url("../assets/images/email.svg");
    }

    .input-message {
      font-family: "Poppins", sans-serif;
      width: 100%;
      padding: 20px;
      padding-left: 45px;
      background-repeat: no-repeat;
      background-position: left 15px top 20px;
      background-image: url("../assets/images/message.svg");

      font-size: 1.2rem;

      @include lg {
        height: 200px;
      }
    }

    & input:focus,
    & .input-message:focus {
      @include shadow;
    }

    .button-submit {
      width: 100%;
      height: 50px;
      background-color: $text-secondary;
      border: none;

      color: $text-primary;
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer;
      letter-spacing: 1px;

      &:hover {
        @include shadow;
      }

      @include lg {
        width: 150px;
        height: 40px;
      }
    }
  }

  .contact-details {
    & * {
      margin-bottom: 10px;
    }

    @include md {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include lg {
      flex-direction: column;
    }

    .contact-details-item {
      @include md {
        width: 50%;
      }

      @include lg {
        width: 100%;
        padding: 0 2rem;
      }
    }

    .contact-details-title {
      @include header__four;
      margin-bottom: 5px;
      font-weight: 600;
      border-bottom: 2px solid black;
      border-image: linear-gradient(to right, #000 10%, rgba(0, 0, 0, 0) 10%);
      border-image-slice: 1;
    }

    p,
    span,
    address {
      font-size: 16px;
    }

    address {
      display: block;
      font-style: italic;

      span {
        display: block;

        @include sm {
          display: initial;
        }
      }
    }
  }
}
