.home {
  width: 100%;
  padding: 0 20px;
  clear: both;

  @include md {
    width: 70%;
    padding-left: 6rem;
  }

  .home-company-job-title {
    @include header__one;

    .red {
      color: #f13945;
    }

    @include md {
      margin-top: 2rem;
      font-size: 5rem;
    }
  }

  .home-job-description {
    @include text;
    font-weight: 300;
    margin-top: 1rem;
    font-family: "Oswald", sans-serif;

    @include md {
      font-size: 1.8rem;
    }
  }

  .home-wrapper-contact-us {
    position: absolute;
    background-color: rgba(213, 60, 71, 0.9);
    margin-top: 20px;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    color: $text-primary;

    @include md {
      background: none;
      margin-top: 7.5%;
    }

    @media (min-width: 860px) {
      margin-top: 12%;
    }

    @include lg {
      margin-top: 5%;
    }

    @media (min-width: 1050px) {
      margin-top: 8%;
    }

    @media (min-width: 1570px) {
      margin-top: 2%;
    }

    .contact-us-title {
      @include header__three;
    }

    .contact-us-number {
      font-size: 2rem;
      font-weight: 300;

      @include sm {
        font-size: 2.2rem;
      }
    }
  }
}
