.home {
  width: 100%;
  padding: 0 20px;
  clear: both;

  @include md {
    width: 70%;
    padding-left: 6rem;
  }

  .company-job {
    @include header__two;

    .red {
      color: #f13945;
    }

    @include md {
      margin-top: 2rem;
      font-size: 5rem;
    }
  }

  .description {
    @include text;
    font-weight: 300;
    margin-top: 1rem;
    font-family: "Oswald", sans-serif;

    @include md {
      font-size: 1.8rem;
    }
  }

  .wrapper-contact-us {
    position: absolute;
    background-color: rgba(213, 60, 71, 0.9);
    margin-top: 20px;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    color: $text-primary;

    @include md {
      background: none;
      margin-top: 7.5%;
    }

    @media (min-width: 860px) {
      margin-top: 12%;
    }

    & .contact-us {
      @include header__three;
    }

    p {
      font-size: 2rem;
      font-weight: 300;

      @include sm {
        font-size: 2.2rem;
      }
    }
  }

  .phone {
    color: $text-primary;
    text-align: center;
    font-weight: 400;
    font-size: 2.25rem;
  }
}
