@mixin header__one {
  font-size: 3rem;
  text-transform: uppercase;

  @include sm {
    font-size: 3.2rem;
  }

  @include md {
    font-size: 3.4rem;
  }
}

@mixin header__two {
  font-size: 2.8rem;
  color: $text-secondary;
  text-transform: uppercase;

  @include sm {
    font-size: 3rem;
  }

  @include md {
    font-size: 3.2rem;
  }
}

@mixin header__three {
  font-size: 2.4rem;
  text-transform: uppercase;

  @include sm {
    font-size: 2.6rem;
  }

  @include md {
    font-size: 2.8rem;
  }
}

@mixin header__four {
  font-size: 1.8rem;
  text-transform: uppercase;

  @include sm {
    font-size: 2rem;
  }

  @include md {
    font-size: 2.2rem;
  }
}
