$bg-primary: #ffffff;
$bg-secondary: #e53945;

$color-primary: #e53945;
$color-secondary: #ffffff;

$text-primary: #ffffff;
$text-secondary: #222d31;
$text-description: #4f5358;
$text-details: #6d7783;
